GITEA_ENDPOINT=
GITEA_API_KEY=
GITEA_OWNER=
GITEA_REPO=
GITEA_PROJECT_ID=
GITEA_ASSIGNEE=builder
GITEA_WEB_COOKIE=
GITEA_WEB_CSRF_TOKEN=
GITEA_VALIDATE_PROJECT_ID=1
SYMPHONY_REPO_URL=
SYMPHONY_REPO_BRANCH=
SYMPHONY_CODEX_COMMAND=
CARAPACE_INSTALL_URL=
